/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  
}

/* MovieList.css */
h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

/* SeatSelector.css */
.seat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.seat {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
  }
}

/* BookingSummary.css */
p {
  margin: 5px 0;
}

/* Include these CSS files in your components */
/* Add these styles to your CSS file */
.seat.available {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

.seat.selected {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4caf50;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
}

.seat.occupied {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
}
